---

import PodcastCard from '../components/podcast.astro';
import { getPodcast } from '../lib/podcast.js';

const podcasts = await getPodcast();
---

<section class="podcasts">
  <h2>Podcast</h2>

  {Array.isArray(podcasts) && podcasts.length > 0 ? (
    podcasts.map((pod) => (
      <PodcastCard {...pod} />
    ))
  ) : (
    <p class="no-podcasts">No hay episodios aún.</p>
  )}
</section>

<style>
  .publicaciones,
  .podcasts {
    padding: 2rem;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
  }

  .no-publicaciones,
  .no-podcasts {
    color: #888;
  }
</style>